{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h1>{% trans %}Žemės sklypų sąrašas{% endtrans %}</h1>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-land-id"  style="color: #ffffff"><b>Id</b></div></th>
                <th><div class="table-land-name"  style="color: #ffffff"><b>{% trans %}Pavadinimas{% endtrans %}</b></div></th>
                <th><div class="table-land-show"  style="color: #ffffff"><b>{% trans %}Rodyti{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Redaguoti{% endtrans %}</i></b></div></th>
                <th><div style="color: red"><b><i>{% trans %}Ištrinti{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('land_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.title }}</td>
                    <td><a href="{{ path('land_show', { 'id': entity.id }) }}" class="btn btn-success">{% trans %}Rodyti{% endtrans %}</a> </td>
                    <td><a href="{{ path('land_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Redaguoti{% endtrans %}</a> </td>
                    <td>{{ render(controller('ArcanaBundle:land:del', {'id': entity.id})) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br />
    <center>
        {{ knp_pagination_render(pagination) }}
    </center>
    <br />
    <div class="create-entities-buttons">
        <div class="create-entity-land">
            <div>
                <a href='#idModalAddLand' role='button' class='btn btn-warning' data-toggle='modal'>{% trans %}Sukurti{% endtrans %}</a>
            </div>
            <br>
            <div class='modal hide fad'  id="idModalAddLand" tabindex='-1'  role='dialog' aria-labelledby="idModalLabelLand" aria-hidden='true'>
                <div class='modal-body'>
                    <div>
                        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
                        <br>
                    </div>
                    <div class="modal-inner-land  text-center">
                        <h3 id="idModalLabelLand" >{% trans %}Sukurti žemės sklypą{% endtrans %}</h3>
                        <span>
                            {{ render(controller('ArcanaBundle:land:modal')) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}