{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h1>{% trans %}Narių sąrašas{% endtrans %}</h1>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <th><div class="table-user-id"  style="color: #ffffff"><b>Id</b></div></th>
            <th><div class="table-user-name"  style="color: #ffffff"><b>{% trans %}Vartotojas{% endtrans %}</b></div></th>
            <th><div class="table-user-show"  style="color: #ffffff"><b>{% trans %}Rodyti{% endtrans %}</b></div></th>
            <th><div  style="color: #ffffff"><b><i>{% trans %}Redaguoti{% endtrans %}</i></b></div></th>
            <th><div style="color: red"><b><i>{% trans %}Ištrinti{% endtrans %}</i></b></div></th>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td><a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-success">{% trans %}Rodyti{% endtrans %}</a> </td>
                    <td><a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Redaguoti{% endtrans %}</a> </td>
                    <td>{{ render(controller('ArcanaBundle:admin:del', {'id': entity.id})) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="create-entities-buttons">
        <div class="create-entity-user">
            <div>
                <a href='#idModalAddUser' role='button' class='btn btn-warning' data-toggle='modal'>{% trans %}Sukurti{% endtrans %}</a>
            </div>
            <br>
            <div class='modal hide fad'  id="idModalAddUser" tabindex='-1'  role='dialog' aria-labelledby="idModalLabelUser" aria-hidden='true'>
                <div class='modal-body'>
                    <div>
                        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
                        <br>
                    </div>
                    <div class="modal-inner-user">
                        <h3 id="idModalLabelUser" >{% trans %}Sukurti naudotojas{% endtrans %}</h3>
                        <span>
                            {{ render(controller('ArcanaBundle:admin:modal')) }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}