{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <h1>{% trans %}Sukurti naudotojas{% endtrans %}</h1>
    {{ form(form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">
                {% trans %}Grįžti prie sąrašo{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}

