{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h1>{{ entity.username }}</h1>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-user-id"  style="color: #ffffff"><b>Id</b></div></th>
                <th><div class="table-user-name"  style="color: #ffffff"><b>Name</b></div></th>
                <th><div class="table-user-email"  style="color: #ffffff"><b>{% trans %}Elektroninis paštas{% endtrans %}</b></div></th>
                <th><div class="table-user-show"  style="color: #ffffff"><b>{% trans %}Sąrašas{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Redaguoti{% endtrans %}</i></b></div></th>
                <th><div style="color: red"><b><i>{% trans %}Ištrinti{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td><a href="{{ path('user') }}" class="btn btn-success">{% trans %}Grįžti prie sąrašo{% endtrans %}</a> </td>
                <td><a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Redaguoti{% endtrans %}</a> </td>
                <td>{{ render(controller('AcmeExBundle:admin:del', {'id': entity.id})) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
