<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/arcana/css/style.css') }}" type="text/css" media="screen, projection">
</head>
<body style="background-color: #ffc900">
<center>
    <div class="box box-item-size  text-center" style="font-weight: normal;font-size: 20px;color: #5f6f6f; margin-top: 70px">
        <img width="256" height="256" src="{{ asset('bundles/arcana/images/cry2.png') }}" />
        <br />
        <br />
        <div style="font-size: 50px">404</div>
        <br />
        <br />
        <div style="font-size: 30px">{% trans %}Page not found{% endtrans %}</div>
    </div>
</center>
</body>
</html>