{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    {% if entity.reserved == true %}
        {% set reserved = 'free' %}
    {% else %}
        {% set reserved = 'reserved' %}
    {% endif %}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Sodybos{% endtrans %}</h4>
            <div class="owner-name">{{ entity.title }}</div>
            <h4>{{ entity.city }}</h4>
            <h5>{{ entity.country }}</h5>
            <br />
            {{ image|raw }}
            <br />
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-homestead-square"  style="color: #ffffff"><b>{% trans %}Plotas{% endtrans %}</b></div></th>
                <th><div class="table-homestead-address"  style="color: #ffffff"><b>{% trans %}Adresas{% endtrans %}</b></div></th>
                <th><div class="table-homestead-price"  style="color: #ffffff"><b>{% trans %}Kaina{% endtrans %}</b></div></th>
                <th><div class="table-homestead-reserved"  style="color: #ffffff"><b>{% trans %}Rezervuota{% endtrans %}</b></div></th>
                <th><div class="table-homestead-show"  style="color: #ffffff"><b>{% trans %}Sąrašas{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Redaguoti{% endtrans %}</i></b></div></th>
                <th><div style="color: red"><b><i>{% trans %}Ištrinti{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ entity.square }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ reserved | trans  }}</td>
                <td><a href="{{ path('homestead') }}" class="btn btn-success">{% trans %}Grįžti prie sąrašo{% endtrans %}</a> </td>
                <td><a href="{{ path('homestead_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Redaguoti{% endtrans %}</a> </td>
                <td>{{ render(controller('ArcanaBundle:homestead:del', {'id': entity.id})) }}</td>
            </tr>
            </tbody>
        </table>
        <div class="description-title">{% trans %}Aprašymas{% endtrans %}</div>
        <br>
        <div class="description-show-block">
            {{ entity.description }}
        </div>
    </div>
{% endblock %}



