{% extends 'ArcanaBundle::layout-item.html.twig' %}
{% block body -%}
    <div class="box box-item-size">
        <div class="box-item-size">
            <center>
                <h2 class=" text-center">{{ entity.title }}</h2>
            </center>
            <div style="clear:both;"></div>
            {% if entity.reserved == 0 %}
                <span class="reserved-item">{% trans %}Rezervuota{% endtrans %}</span><br/>
            {% else %}
                <span class="not-reserved">{% trans %}Laisva{% endtrans %}</span><br/>
            {% endif %}
            <span class="item-card">{% trans %}Šalis{% endtrans %}: </span><span class="item-result-b">{{ entity.country|default('') }}</span> <br/>
            <span class="item-card">{% trans %}Miestas{% endtrans %}: </span><span class="item-result-b">{{ entity.city|default('') }}</span> <br/>
            <span class="item-card">{% trans %}Nekilnojamojo turto tipas{% endtrans %}: </span><span class="item-result-b">{{ type|trans|default('') }}</span><br/>
            <span class="item-card">{% trans %}Kambarių skaičius{% endtrans %}: </span><span class="item-result-b">{{ entity.flatsnumber|default('') }}</span><br />
            <span class="item-card">{% trans %}Plotas{% endtrans %}: </span><span class="item-result-b">{{ entity.square|default('') }} {% trans %}kv.m{% endtrans %}</span><br/>
            <span class="item-card">{% trans %}Aukštas{% endtrans %}: </span><span class="item-result-b">{{ entity.floor|default('') }}</span><br/>
            <span class="item-card">{% trans %}Aukštų skaičius{% endtrans %}: </span><span class="item-result-b">{{ entity.storeysnumber|default('') }}</span><br/>
            <span class="item-card">{% trans %}Adresas{% endtrans %}: </span><span class="item-result-b">{{ entity.address|default('') }}</span><br/>
            <span class="item-card">{% trans %}Kaina{% endtrans %}: </span><span class="item-result-b"> {{ entity.price|default('') }} EURO</span><br/>
            <span class="item-card">{% trans %}Pardavimas / Nuoma{% endtrans %}: </span><span class="item-result-b">{{ entity.operation|trans|default('') }}</span><br/>
            <br />
            <br />
            <span class="description">
                {% if entity.description|default('') != '' %}
                    {{ entity.description|default('') }}
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}