{% extends 'ArcanaBundle::layout.html.twig' %}
{% block body -%}
    {% if entities|length > 0 %}
        <div class="box box-size">
            {% for entity in entities %}
                <div class="box-item">
                    <div class="object-table">
                        {% include 'ArcanaBundle:Default:item-image.html.twig' %}
                        <span class="zaglavie">{% trans %}Šalis{% endtrans %}: </span><span class="rezultat-b">{{ entity.country|default('') }}</span> <br/>
                        <span class="zaglavie">{% trans %}Miestas{% endtrans %}: </span><span class="rezultat-b">{{ entity.city|default('') }}</span> <br/>
                        <span class="zaglavie">{% trans %}Nekilnojamojo turto tipas{% endtrans %}: </span><span class="rezultat-b">{{ type|trans|default('') }}</span><br/>
                        <span class="zaglavie">{% trans %}Kambarių skaičius{% endtrans %}: </span><span class="rezultat-b">{{ entity.flatsnumber|default('') }}</span><br />
                        <span class="zaglavie">{% trans %}Plotas{% endtrans %}: </span><span class="rezultat-b">{{ entity.square|default('') }}  {% trans %}kv.m{% endtrans %}</span><br/>
                        <span class="zaglavie">{% trans %}Aukštų skaičius{% endtrans %}: </span><span class="rezultat-b">{{ entity.storeysnumber|default('') }}</span><br/>
                        <span class="zaglavie">{% trans %}Adresas{% endtrans %}: </span><span class="rezultat-b">{{ entity.address|default('') }}</span><br/>
                        <span class="zaglavie">{% trans %}Kaina{% endtrans %}: </span><span class="item-result-b"> {{ entity.price|default('') }} EURO</span><br/>

                    </div></div>
            {% endfor %}
            <br />
            <center>
                {{ knp_pagination_render(entities) }}
            </center>
            <br />
        </div>
    {% else %}
        {% include 'ArcanaBundle:Default:not-found.html.twig' %}
    {% endif %}
{% endblock %}