<div class="left-object">
    <h3 class="home-h3"><a class="send1" href="{{ path('arcana_view', { 'type': type, 'id': entity.id }) }}" title="{{ entity.title }}">{{ entity.title }}</a></h3>
</div>
{% if path[entity.id]|default(null) %}
    <a href="{{ path('arcana_view', { 'type': type, 'id': entity.id }) }}"> <img class="object-table-image" src="{{ path[entity.id] }}" /></a>
{% else %}
    <a href="{{ path('arcana_view', { 'type': type, 'id': entity.id }) }}"> <img class="object-table-image" src="{{ asset('bundles/arcana/images/default.jpg') }}" /></a>
{% endif %}
<div style="clear:both;"></div>
{% if entity.reserved == 0 %}
    <span class="reserved">{% trans %}Rezervuota{% endtrans %}</span><br/>
{% else %}
    <span class="not-reserved">{% trans %}Laisva{% endtrans %}</span><br/>
{% endif %}