<div class="fb">
    <br>
    <div class = "close">X &nbsp;&nbsp;&nbsp;</div>
    <form id = "feedback-form" >
        <input type="hidden" id="feedback-path" name="feedback-path" value="{{ path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params')) }}">
        <div class = "inp-div" >
            {% trans %}Vardas{% endtrans %}<span style="color:red;font-size: 20px;">&nbsp;*</span>
            <br>
            <br>
            <input class = "inpt" value = "   name" id="feedback-name" name = "feedback-name">
        </div>
        <div class = "inp-div" >
            {% trans %}Elektroninis paštas{% endtrans %}
            <br>
            <br>
            <input class = "inpt" value = "   e-mail" id="feedback-email" name = "feedback-email">
        </div>
        <div class = "inp-div" >
            {% trans %}Telefonas{% endtrans %}
            <br>
            <br>
            <input class = "inpt" value = "   phone" id="feedback-phone" name = "feedback-phone"></div>
        <div class = "inp-div" >
            {% trans %}Žinutė{% endtrans %}<span style="color:red;font-size: 20px;">&nbsp;*</span>
            <br>
            <br>
            <textarea class = "textarea" rows = "6" id="feedback-text" name="feedback-text"></textarea>
        </div>
        <div class = "inp-div-btn" >
            <button class = "buttn" type = "submit" id="sbm" name = "submitted">{% trans %}SIŲSTI{% endtrans %}</button>
        </div>

    </form>
</div>
<div id="feedback-success">
    <div class = "feedback-request">
        <div class = "feedback-success-text">{% trans %}Jūsų žinutė sėkmingai išsiųsta{% endtrans %}</div>
    </div>
</div>
<div id="feedback-error">
    <div class = "feedback-request">
        <div class = "feedback-error-text">{% trans %}Įvyko klaida{% endtrans %}</div>
    </div>
</div>