<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="google-site-verification" content="6UMLfxdgLQLxFy8ehUVkvJ5zm7wn7SpRVFgFl4lvKdI" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block stylesheets %}
        <link href="{{ asset('bundles/arcana/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
        <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>-->
        <link href="{{ asset('bundles/arcana/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/arcana/css/styleAdmin.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/arcana/js/jquery-1.8.3.js') }}"></script>
        <script src="{{ asset('bundles/arcana/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/arcana/js/main.js') }}"></script>
    {% endblock %}
<style>
</style>
</head>
<body>
    <div class="header">
        <div class="hgroup">
            <a href="/" class="title">{% trans %}Adminzona{% endtrans %}</a>
        </div>
	</div>
    <nav class="top-nav-panel">
	    <ul class="subscription">
            <li>
			    <a href="/lt/" class="subscribe-rss-top-nav" title="subscribe via RSS"><img class="img-rss" src="{{ asset('bundles/arcana/images/rss3.png') }} "></a>
		    </li>  
        </ul>
        <!--<form action="http://google.com/search" class="form-search" method="get">
            
                <input type="hidden" name="q" value="" />
                <input class="search" type="text" name="q"  placeholder="Search"/>
            
        </form>-->
        <div class="flag-top-nav">
            <a href="{{ path('apartment', {'_locale': 'en'}) }}"><img src="{{ asset('bundles/arcana/images/flag/uk.gif') }}"></a>
            &nbsp;
            <a href="{{ path('apartment', {'_locale': 'lt'}) }}"><img src="{{ asset('bundles/arcana/images/flag/lt.png') }}"></a><!--
            &nbsp;
            <a href="{##}{ path('apartment', {'_locale': 'ua'}) }}"><img src="{##}{ asset('bundles/arcana/images/flag/ua.gif') }}"></a>-->
            &nbsp;
            <a href="{{ path('apartment', {'_locale': 'ru'}) }}"><img src="{{ asset('bundles/arcana/images/flag/ru.gif') }}"></a>
        </div>
        {{ knp_menu_render('ArcanaBundle:MenuBuilder:topMenu') }}
    </nav>
	<div class="container-main-admin">
        {% block body %}{% endblock %}
	</div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container-footer">
            {{   knp_menu_render('ArcanaBundle:MenuBuilder:bottomMenu') }}
        </div>
    {% endif %}
</body>
</html>