<!DOCTYPE html>
<html>
<head>

    <title>{% trans %}Akmene real estate{% endtrans %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name='yandex-verification' content='4a2c7043858d12e2' />
    <meta name="google-site-verification" content="6UMLfxdgLQLxFy8ehUVkvJ5zm7wn7SpRVFgFl4lvKdI" />
    <link href="{{ asset('bundles/arcana/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/arcana/css/blueprint/screen.css') }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ asset('bundles/arcana/css/blueprint/print.css') }}" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ asset('bundles/arcana/css/blueprint/ie.css') }}" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="{{ asset('bundles/arcana/css/plugins/fancy/screen.css') }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ asset('bundles/arcana/css/style.css') }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ asset('bundles/arcana/css/plugins/flexslider/flexslider.css') }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ asset('bundles/arcana/css/helper/iphon.css') }}" media="only screen and (max-device-width: 480px)" />




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ asset('bundles/arcana/js/chosen/jq.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/arcana/js/chosen/my.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/arcana/js/blueprint/jquery.lazyload.mini.js') }}"></script>
    <script src="{{ asset('bundles/arcana/js/plugins/flexslider/flexslider.js') }}"></script>
    <script src="{{ asset('bundles/arcana/js/feedback.js') }}" type="text/javascript"></script>

    <script type="text/javascript">

        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
</head>
<body class="en">
<div class="container">
    <br />
    <div class="span-24">
        <div style="height: 150px; width: 20px; display: inline-block; float: left"></div>
        <a href="/"><img class="logotype"  src="{{ asset('bundles/arcana/images/akmene2-3.jpg') }}"></a>
        <div class="telefon-en">
            Tел: +37067544884
        </div>
        <div class="flag">
            &nbsp;
            <a href="/en/"><img src="{{ asset('bundles/arcana/images/flag/en.png') }}"></a>
            &nbsp;
            <a href="/lt/"><img src="{{ asset('bundles/arcana/images/flag/lt.png') }}"></a><!--
            &nbsp;
            <a href="ua/"><img src="{##}{ asset('bundles/arcana/images/flag/ua.png') }}"></a>-->
            &nbsp;
            <a href="/ru/"><img src="{{ asset('bundles/arcana/images/flag/ru1.png') }}"></a>

        </div>
        <div class="skype">
            <a href="skype:akmene1234"><img src="{{ asset('bundles/arcana/images/social/skype.png') }}"></a>
        </div>
        <div class="imone-data">
            <div class="pochta">
                <a class="pochta-mail-en" href="#">E-mail: info@akmenesnekilnojamasturtas.lt</a>
            </div>
        </div>
    </div>
    <div class="login-link-b">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="/logout" >{% trans %}Atsijungti{% endtrans %}</a>
        {% else %}
            <a href="/login"  >{% trans %}Prisijungti{% endtrans %}</a>
        {% endif %}
    </div>
    <div class="admin-link-b" >
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('apartment') }}"  >{% trans %}Administravimas{% endtrans %}</a>
        {% endif %}
    </div>
    <div class="span-24 last">
        <div class="menu-top">
            <ul class="menu-b">
                <li ><a href="/" ><span>{% trans %}Pagrindinis{% endtrans %}</span></a></li>
                <li ><a href="{{ path('arcana_text', {'name': 'about'}) }}" ><span>{% trans %}Apie mus{% endtrans %}</span></a></li>
                <li ><a href="{{ path('arcana_text', {'name': 'akmene'}) }}" ><span>{% trans %}Apie Akmenę{% endtrans %}</span></a></li>
                <li ><a href="{{ path('arcana_text', {'name': 'nearakmene'}) }}" ><span>{% trans %}Apylinkės{% endtrans %}</span></a></li>
                <li ><a href="{{ path('arcana_text', {'name': 'sell'}) }}" ><span>{% trans %}Pardavimas{% endtrans %}</span></a>
                    <ul class="inner-ul">
                        <li ><a href="{{ path('arcana_sector', {'type': 'apartment','operation': 'sell'}) }}" ><span>{% trans %}Butai{% endtrans %}</span></a></li>
                        <li ><a href="{{ path('arcana_sector', {'type': 'forest','operation': 'sell'}) }}" ><span>{% trans %}Miško sklypai{% endtrans %}</span></a></li>
                        <li ><a href="{{ path('arcana_sector', {'type': 'home','operation': 'sell'}) }}" ><span>{% trans %}Namai{% endtrans %}</span></a></li>
                        <li ><a href="{{ path('arcana_sector', {'type': 'homestead','operation': 'sell'}) }}" ><span>{% trans %}Sodybos{% endtrans %}</span></a></li>
                        <li ><a href="{{ path('arcana_sector', {'type': 'land','operation': 'sell'}) }}" ><span>{% trans %}Žemės sklypai{% endtrans %}</span></a></li>
                        <li ><a href="{{ path('arcana_sector', {'type': 'commercial','operation': 'sell'}) }}" ><span>{% trans %}Komercinės patalpos{% endtrans %}</span></a></li>
                    </ul></li>
                <li ><a href="{{ path('arcana_text', {'name': 'rent'}) }}" ><span>{% trans %}Nuoma{% endtrans %}</span></a>
                    <ul class="inner-ul">
                        <li ><a href="{{ path('arcana_sector', {'type': 'apartment','operation': 'rent'}) }}" ><span>{% trans %}Butai{% endtrans %}</span></a></li>
                        <li ><a href="{{ path('arcana_sector', {'type': 'commercial','operation': 'rent'}) }}" ><span>{% trans %}Komercinės patalpos{% endtrans %}</span></a></li>
                    </ul></li>
                <li ><a href="{{ path('arcana_text', {'name': 'lookingfor'}) }}" ><span>{% trans %}Ieškome{% endtrans %}</span></a></li>
                
                <li ><a href="{{ path('arcana_text', {'name': 'contacts'}) }}" ><span>{% trans %}Kontaktai{% endtrans %}</span></a></li>
            </ul>
        </div>
    </div>

    <div class="span-24 last akmene-photo">
        <div class="flexslider"    style="background-color: #d6d273;">
            <ul class="slides">
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/1.jpg') }}" /></a>
                </li>
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/6.jpg') }}" /></a>
                </li>                
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/7.jpg') }}" /></a>
                </li>
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/3.jpg') }}" /></a>
                </li>
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/8.jpg') }}" /></a>
                </li>
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/4.jpg') }}" /></a>
                </li>
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/9.jpg') }}" /></a>
                </li>
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/5.jpg') }}" /></a>
                </li>
                <li>
                    <a href=""><img src="{{ asset('bundles/arcana/images/fancybox/10.jpg') }}" /></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="span-6">
        <div class="left-block1"  style="background-color: #d6d273;">
            <div class="search-block" >
                {% include 'ArcanaBundle::search.html.twig' %}
            </div>
        </div>
    </div>
<div class="span-18 last">
    <div class="content-block"  style="background-color: #d6d273;">
        <div class="breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
    </div>
</div>
</div>
<div class="container">
    <div class="span-24 last" style="height: 10px;">
    </div>
</div>
<div class="container">
    <hr class="footerhr" color="#006400">
    <div class="social-buttons">
        <a href="http://facebook.com"><img src="{{ asset('bundles/arcana/images/social/f.png') }}"></a>
        <a href="http://twitter.com"><img src="{{ asset('bundles/arcana/images/social/t.png') }}"></a>
        <a href="http://vk.com/club81182086"><img src="{{ asset('bundles/arcana/images/social/v.png') }}"></a>
    </div>
    <div class="span-24"  >
        <center>
            <div class="copyrights" >&copy;2013 Akmene real estate</div>
        </center>
        <div style="font-size: xx-small; float: right">
            <a href="http://arcanas.eu" target="_blank">
                <span style="color: #fff6bf">designed by Arcanas</span>
            </a>
        </div>
    </div>

    <div class="span-2 last">&nbsp;
    </div>
</div>
{% include 'ArcanaBundle::feedback.html.twig' %}
</body>
</html>
