<div class="search-form" style="background-color: #d6d273;">

<dl class="tabs">
<dt class="selected" id="sell"><span>{% trans %}Pardavimas{% endtrans %}</span></dt>
<dd class="selected" id="sl"  style="background-color: #d6d273;">
    <div class="tab-content">
        <form action='/{{ app.request.get('_locale') }}/' method='post'>
            <input type="hidden" name="operation" value="sell" />
            <table >
                <tr>
                    <td>
                        <div class="checkbox-label">{% trans %}Šalis{% endtrans %}</div>
                        <select name="country" class="chosen-select choosen-width"  tabindex="1">
                            <option value="1" selected>{% trans %}Lietuva{% endtrans %}</option>
                            <option value='2'>{% trans %}Vokietija{% endtrans %}</option>
                            <option value='3'>{% trans %}Ispanija{% endtrans %}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td  style="background: #d6d273 !important;">
                        <div class="checkbox-label lithuania">{% trans %}Miestas{% endtrans %}</div>
                        <select name="city" class="chosen-select choosen-width"  tabindex="1">
                            <option value='1' selected>{% trans %}Naujoji Akmenė{% endtrans %}</option>
                            <option value='4'>{% trans %}Šiaulių{% endtrans %}</option>
                            <option value='2'>{% trans %}Klaipeda{% endtrans %}</option>
                            <option value='3'>{% trans %}Vilnius{% endtrans %}</option>
                            <option value='5'>{% trans %}Venta{% endtrans %}</option>
                            <option value='6'>{% trans %}Akmenė{% endtrans %}</option>
                            <option value='7'>{% trans %}Kedainiai{% endtrans %}</option>
                        </select>
                    </td>
                </tr>
                <!--<tr>
                        <td style="background: #fff !important;">
                            <div class="checkbox-label">Район</div>
                            <select name="region" class="chosen-select choosen-width "  tabindex="1">
                                <option value="" selected>любой</option>
                            </select>
                        </td>
                    </tr>-->
                <!--<tr >

                        <td style="background: #fff !important;">
                            <div class="checkbox-label">{% trans %}Currency{% endtrans %}</div>
                            <select name="currency" class="chosen-select choosen-width"  tabindex="1">
                                <option value="EUR"  selected>{% trans %}EURO{% endtrans %}</option>
                                <option value="Lit" >{% trans %}Lit{% endtrans %}</option>
                                <option value="USD" >{% trans %}Dollar{% endtrans %}</option>
                                <option value="RUB" >{% trans %}Rubl{% endtrans %}</option>
                            </select>
                        </td>
                    </tr>-->
                <tr>

                    <td style="background: #d6d273 !important;">
                        <div class="checkbox-label-type">{% trans %}Tipas{% endtrans %} </div>
                        <select name="type"  class="chosen-select choosen-width"  tabindex="5">
                            <option  value="apartment" selected="selected">{% trans %}Butai{% endtrans %}</option>
                            <option value='home'>{% trans %}Namai{% endtrans %}</option>
                            <option value='forest'>{% trans %}Miško sklypai{% endtrans %}</option>
                            <option value='homestead'>{% trans %}Sodybos{% endtrans %}</option>
                            <option value='land'>{% trans %}Žemės sklypai{% endtrans %}</option>
                            <option  value='commercial'>{% trans %}Komercinės patalpos{% endtrans %}</option>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="background: #d6d273 !important;">
                        <div  class="checkbox-label-type">{% trans %}Kambarių skaičius{% endtrans %} </div>
                        <em>{% trans %}Nuo{% endtrans %}</em>
                        <select   class="chosen-select choosen-width-price-left"  tabindex="1" name='min-flat'>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <em>{% trans %}Iki{% endtrans %}</em>
                        <select    class="chosen-select choosen-width-price"  tabindex="1"  name='max-flat'>
                            <option value="1">1</option>
                            <option selected value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="background: #d6d273 !important;">
                        <div  class="checkbox-label">{% trans %}Kaina{% endtrans %} (€)</div>
                        <em>{% trans %}Nuo{% endtrans %}</em>
                        <select   class="chosen-select choosen-width-price-left"  tabindex="1" name='min-cost'>
                            <option value="0">0</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="50000">50000</option>
                        </select>
                        <em>{% trans %}Iki{% endtrans %}</em>
                        <select    class="chosen-select choosen-width-price"  tabindex="1"  name='max-cost'>
                            <option selected value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="30000">30000</option>
                            <option value="50000">50000</option>
                            <option value="100000">100000</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="i-clearfix" style="background-color: #d6d273;">
                <button type="submit" value="search" name="submit" class="btn small">{% trans %}Ieškoti{% endtrans %}</button>
            </div>
        </form>
    </div>
</dd>

<dt class="" id="rent"><span>{% trans %}Nuoma{% endtrans %}</span></dt>
<dd class="" id="rnt">
    <div class="tab-content">
        <form action='' method='post'>
            <input type="hidden" name="operation" value="rent" />
            <table>
                <tr>
                    <td>
                        <div class="checkbox-label">{% trans %}Šalis{% endtrans %}</div>
                        <select name="country" class="chosen-select choosen-width"  tabindex="1">
                            <option value="1" selected>{% trans %}Lietuva{% endtrans %}</option>
                            <option value='2'>{% trans %}Vokietija{% endtrans %}</option>
                            <option value='3'>{% trans %}Ispanija{% endtrans %}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td  style="background: #d6d273 !important;">
                        <div class="checkbox-label lithuania">{% trans %}Miestas{% endtrans %}</div>
                        <select name="city" class="chosen-select choosen-width"  tabindex="1">
                            <option value="1" selected>{% trans %}Naujoji Akmenė{% endtrans %}</option>
                            <option value='4'>{% trans %}Šiaulių{% endtrans %}</option>
                            <option value='2'>{% trans %}Klaipeda{% endtrans %}</option>
                            <option value='3'>{% trans %}Vilnius{% endtrans %}</option>
                            <option value='5'>{% trans %}Venta{% endtrans %}</option>
                            <option value='6'>{% trans %}Akmenė{% endtrans %}</option>
                            <option value='7'>{% trans %}Kedainiai{% endtrans %}</option>
                        </select>
                    </td>
                </tr>
                <!--<tr>
                        <td style="background: #fff !important;">
                            <div class="checkbox-label">Район</div>
                            <select name="region" class="chosen-select choosen-width"  tabindex="1">
                                <option value="" selected>любой</option>
                            </select>
                        </td>
                    </tr>-->
                <!--<tr>

                    <td style="background: #fff !important;">
                        <div class="checkbox-label">Currency</div>
                        <select name="currency" class="chosen-select choosen-width"  tabindex="1">
                            <option value="EUR"  selected>EURO</option>
                            <option value="Lit" >Lit</option>
                            <option value="USD" >Dollar</option>
                            <option value="RUB" >Rubl</option>
                            <option value="ILS">Shekel</option>
                        </select>
                    </td>
                </tr>-->
                <tr>

                    <td style="background: #d6d273 !important;">
                        <div class="checkbox-label-type">{% trans %}Tipas{% endtrans %}</div>
                        <select name="type"  class="chosen-select choosen-width"  tabindex="5">
                            <option  value="apartment">{% trans %}Butai{% endtrans %}</option>
                            <option value='commercial'>{% trans %}Komercinės patalpos{% endtrans %}</option>
                            <option value='home'>{% trans %}Namai{% endtrans %}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td  style="background: #d6d273 !important;">
                        <div  class="checkbox-label-type">{% trans %}Kambarių skaičius{% endtrans %} <!--(€)--> </div>
                        <em>{% trans %}Nuo{% endtrans %}</em>
                        <select   class="chosen-select choosen-width-price"  tabindex="1" name="min-flat" >
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <em>{% trans %}Iki{% endtrans %}</em>
                        <select    class="chosen-select choosen-width-price"  tabindex="1"   name="max-flat" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option selected value="3">3</option>
                            <option value="4">4</option>
                            <option  value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td  style="background: #d6d273 !important;">
                        <div  class="checkbox-label">{% trans %}Kaina{% endtrans %} (€) </div>
                        <em>{% trans %}Nuo{% endtrans %}</em>
                        <select   class="chosen-select choosen-width-price"  tabindex="1" name="min-cost" >
                            <option value="0">0</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="5000">5000</option>
                        </select>
                        <em>{% trans %}Iki{% endtrans %}</em>
                        <select    class="chosen-select choosen-width-price"  tabindex="1"  name="max-cost" >
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option selected value="3000">3000</option>
                            <option value="5000">5000</option>
                            <option  value="10000">10000</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="i-clearfix">
                <button type="submit" value="search" name="submit" class="btn small">{% trans %}Ieškoti{% endtrans %}</button>
            </div>
        </form>
    </div>
</dd>
</dl>

</div>