<br />
<div id="slider" class="flexslider" style="background-color: #ffff99;">
    <ul class="slides">
        {% for slider in sliders %}
            <li>
                <a class="fancybox" href="{{ slider }}" data-fancybox-group="gallery"><img  height="450" width="600" src="{{ slider }}"></a>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="carousel" class="flexslider" style="background-color: #ffff99;">
    <center>
        <ul class="slides">



            {% for carousel in carousels %}
                <li class="slides-my-small">
                    <img class="foto-slide-my"  src="{{ carousel }}">
                </li>
            {% endfor %}

        </ul>
    </center>
</div>