/*Р“РѕСЂРёР·РѕРЅС‚Р°Р»СЊРЅРѕРµ РІС‹РїР°РґР°СЋС‰РµРµ РјРµРЅСЋ*/
ul{
    padding-left:0 !important;
}
ul.menu {
    padding: 0;
    display: inline-block;
    background-color: transparent;
    float: right;
    margin: 20px 0 0;
    position: relative;
}

ul.menu:hover{
    /*border-bottom:2px solid #e7ba20; */

}

ul.menu li {
    float: left;
    list-style: none;
    background: -moz-linear-gradient( top,  darkgreen,  #000);
    background: -o-linear-gradient( top,  darkgreen,  #000);
    background: -ms-linear-gradient( top,  darkgreen,  #000);
    background: -webkit-linear-gradient( top,  darkgreen,  #000);
    background: linear-gradient( top,  darkgreen,  #000);

    /*border-right: 1px solid #4f4f4f;*/
    /*position: relative;*/
}

ul.menu li a {
    color: #ffc900;
    display: block;
    font-family: Arial;
    font-size: 13px;
    padding: 8px 20px 10px;
    text-decoration: none;
    border-right: 1px solid #2b2b2b;
}
ul.menu li.active {
    background: -moz-linear-gradient( top,  #000,  darkgreen);
    background: -o-linear-gradient( top,  #000,  darkgreen);
    background: -ms-linear-gradient( top,  #000,  darkgreen);
    background: -webkit-linear-gradient( top,  #000,  darkgreen);
    background: linear-gradient( top,  #000,  darkgreen);




}
ul.menu li a:hover {
    background: -moz-linear-gradient( top,  #8b0000,  #000);
    background: -o-linear-gradient( top,  #8b0000,  #000);
    background: -ms-linear-gradient( top,  #8b0000,  #000);
    background: -webkit-linear-gradient( top,  #8b0000,  #000);
    background: linear-gradient( top,  #8b0000,  #000);
    /*background-color: darkolivegreen;*/
}

ul.menu li:first-child a:hover {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
/*Р’С‹РїР°РґР°СЋС‰РµРµ РјРµРЅСЋ*/
ul.menu li ul {
    display: none;
}

ul.menu li:hover ul {
    display: block;
    width: auto;
    position: absolute;
    top: 37px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    background-color: #2b2b2b;
    z-index: 1000;
    text-align: center;
}

ul.menu li:hover ul li {
    float: none;
    width: 100px;
    border-right: none;
}

ul.menu li:hover ul li a {
    /*border-top: 1px solid #4f4f4f*/;
    border-right: none;
    padding: 6px 10px 8px;
}

ul.menu li:hover ul li a:hover {
    /*background-color: transparent;
    color: #c1deff;*/
}

ul.menu li:hover ul li:first-child a:hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.inner-ul{
    position: relative;
    width: 700px;
    height: auto;
    /*left: 34px;*/
    top: -10px;

}


.inner-ul li{
    float:left;
    /*border-top: 1px solid yellow;*/
}

/*************************************************************************************
**  blue
************************************************************************************/
ul.menu-b {
    padding: 0;
    display: inline-block;
    background-color: transparent;
    float: right;
    margin: 20px 0 0;
    position: relative;
}

ul.menu-b:hover{
    /*border-bottom:2px solid #e7ba20; */

}

ul.menu-b li {
    float: left;
    list-style: none;
    background: -moz-linear-gradient( to top,  #000, #8b0000);
    background: -o-linear-gradient( to top,  #000,  #8b0000);
    background: -ms-linear-gradient( to top,  #000,  #8b0000);
    background: -webkit-linear-gradient( to top,  #000,  #8b0000);
    background: linear-gradient( to top,  #000,  #8b0000);

    /*border-right: 1px solid #4f4f4f;*/
    /*position: relative;*/
}

ul.menu-b li a {
    color: #fff;
    display: block;
    font-family: Arial;
    font-size: 13px;
    padding: 8px 20px 10px;
    text-decoration: none;
    border-right: 1px solid #2b2b2b;
}
ul.menu-b li.active-b {
    background: -moz-linear-gradient( top,  #000, #8b0000);
    background: -o-linear-gradient( top,  #000,  #8b0000);
    background: -ms-linear-gradient( top,  #000,  #8b0000);
    background: -webkit-linear-gradient( top,  #000,  #8b0000);
    background: linear-gradient( top,  #000,  #8b0000);




}
ul.menu-b li a:hover {
    background: -moz-linear-gradient( top,  #89c3f1,  #000);
    background: -o-linear-gradient( top,  #89c3f1,  #000);
    background: -ms-linear-gradient( top,  #89c3f1,  #000);
    background: -webkit-linear-gradient( top,  #89c3f1,  #000);
    background: linear-gradient( top,  #89c3f1,  #000);
    /*background-color: darkolivegreen;*/
}

ul.menu-b li:first-child a:hover {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
/*Р’С‹РїР°РґР°СЋС‰РµРµ РјРµРЅСЋ*/
ul.menu-b li ul {
    display: none;
}

ul.menu-b li:hover ul {
    display: block;
    width: auto;
    position: absolute;
    top: 37px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    background-color: #2b2b2b;
    z-index: 1000;
    text-align: center;
}

ul.menu-b li:hover ul li {
    float: none;
    width: 100px;
    border-right: none;
}

ul.menu-b li:hover ul li a {
    /*border-top: 1px solid #4f4f4f*/;
    border-right: none;
    padding: 6px 10px 8px;
}

ul.menu-b li:hover ul li a:hover {
    /*background-color: transparent;
    color: #c1deff;*/
}

ul.menu-b li:hover ul li:first-child a:hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}



/*************************************************************************************
** end blue
************************************************************************************/

.podpis-slider{
    padding-top: 32px;
    text-align: center;
    font-size: 18px;
    color: #534D4D;
}

.left-block1{
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d7;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.25);
    background: #ffffff;
    padding: 20px;


}

#left-p{
    text-align: center;
    color: #222;
    font-size: 14px;
    font-weight: bold;
}

.left-pagetitle{
    padding:0;
    margin: 5px 0 5px 0;
}

.small-text{
    color:#222;

}
.small-text:hover{
    color:#222;

}

.small-text:visited{
    color:#222;

}

.small-text-next{
    color:#A34040;

}
.small-text-next:hover{
    color:#A34040;

}

.small-text-next:visited{
    color:#A34040;

}

.send1{
    color:#A34040;

}

.send1:active{
    color:#A34040;

}
.send1:hover{
    color:#A34040;

}
.send1:focus{
    color:#A34040;

}

.send1:visited{
    color:#A34040;

}

.content-block{
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d7;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.25);
    background: #ffffff;
    padding: 20px;
    /*min-height: 707px; */
}

.home-block-prosloyka{


}

.zaglavie{
    font-weight: bold;
    font-size: 11px;
    color: #222222;
}
.item-card{
    font-weight: lighter;
    font-size: 14px;
    color: #4f4f4f;
}
.description{
    font-weight: lighter;
    font-size: 14px;
    color: #4f4f4f;
}
.description-1{
    font-weight: normal;
    font-size: 20px;
    color: #5f6f6f;
}

.left-object{
    float:left;
    padding: 10px 2px 0 2px;
    margin: 0 auto;


}

.left-object:hover{
    background: #bce8f1;
    padding: 10px 2px 0 2px;
    width: 250px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;

}

.left-object:focus{
    background:#e7ba20;
    padding: 10px 2px 0 2px;
    width: 279px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;

}

.left-object:visited{
    background:#e7ba20;
    padding: 10px 2px 0 2px;
    width: 279px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;

}

.right-object{
    float:right;

}

.left-block-left{
    float: left;

}

.left-block-right{
    float: right;

}

.rezultat{
    font-size: 11px;

}
.rezultat-b {
    font-size: 11px;
    font-weight: bolder;
    color: #010e62;
}
.item-result {
    font-size: 11px;
    font-weight: bolder;
    color: #000;
}
.item-result-b {
    font-size: 14px;
    font-weight: lighter;
    color: #A34040;
}

.readmore{
    margin: 0;
    padding: 0;
    text-indent: 0;
}

.object-table{
    width:250px;
    margin-top:10px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    background: #ffffff;
    padding: 10px;

}


.object-table-image{

    width:250px;
    height: 180px;
}
.footer-box{

}

.foto-golovnoe{
    text-align:center;
}

.inie-foto{
    width:193px;

}
.menu-top{

}
.akmene-photo{
    margin-top: 60px;
}
.slider-item-block{
    background-color: #ffffff;
}
.dannie{
    position: absolute;
    top:115px;
    right:370px;
    color: darkred;
}
.imone-data{
    position: absolute;
    top:115px;
    right:400px;

}
.darkgreen{
    color:darkgreen;
}
.telefon{
    float: right;
    font-size: 18px;
    position: absolute;
    right: 436px;
    top:25px;
    color:darkgreen;
}
.telefon:hover{
    color:#8b0000;
}
.telefon-en:hover{
    color:#8b0000;
}
.telefon-en{
    float: right;
    font-size: 18px;
    position: absolute;
    right: 436px;
    top:25px;
    color:#fff;
}
.telefon-en:visited{
    color:#fff;
}
.telefon:visited{
    color:darkgreen;
}

.telefon-footer{
    font-size: 12px;
    color:#fff;
}

.telefon-footer:hover{
    color:#fff;
}


.telefon-footer:visited{
    color:#fff;
}

.pochta{
    float:left;
    font-size: 13px;
    color:darkgreen;
}

.pochta-mail{
    color:darkgreen;
    text-decoration:underline;
}
.pochta-mail-en{
    color:#fff;
    text-decoration:underline;
}

.pochta-mail:hover{
    color:#8b0000;
    text-decoration:none;
}
.pochta-mail-en:hover{
    color:#8b0000;
    text-decoration:none;
}
.pochta-mail-en:visited{
    color:#fff;
    text-decoration:none;
}
.pochta-mail:visited{
    color:darkgreen;
    text-decoration:none;
}

.pochta-footer{
    font-size: 12px;
    color:#fff;
}

.pochta-mail-footer{
    color:#fff;
    text-decoration:underline;
}

.pochta-mail-footer:hover{
    color:#fff;
    text-decoration:none;
}

.pochta-mail-footer:visited{
    color:#fff;
    text-decoration:none;
}

.facebook{
    position: relative;
}

.vkontakte{
    position: relative;
}
.social-buttons{
    float: right;
}
.facebook-link{
    text-decoration:underline;
    color:#fff;
}
.footerhr{
    color: darkgreen;
}
.facebook-link:hover{
    text-decoration:none;
    color:#fff;
}

.facebook-link:visited{
    text-decoration:none;
    color:#fff;
}

.vkontakte-link{
    text-decoration:underline;
    color:#fff;

}


.vkontakte-link:hover{
    color:#fff;
    text-decoration:none;
}

.vkontakte-link:visited{
    color:#fff;
    text-decoration:none;
}

.skype{
    display: inline-block;
    float: right;
    position: absolute;
    top: 100px;
    right: 250px;
}
.fc-ikonka{
    background-image: url(/images/fancybox/facebook.png);
    background-repeat: no-repeat;
    float:left;
    height:32px;
    width: 32px;
    position: absolute;
    left: 0px;
    top: -4px;
}
.fc-ikonka-naz{margin-left: 45px;}

.vk-ikonka{
    background-image: url(/images/fancybox/vkontakte.png);
    background-repeat: no-repeat;
    float:left;
    height:32px;
    width: 32px;
    position: absolute;
    left: 0px;
    top: -4px;
}

.vk-ikonka-naz{margin-left: 45px;}
.B_crumbBox{list-style-type: none;}
.B_firstCrumb{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    color:#A34040;}
.B_lastCrumb{
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    margin-left:5px;
    color:#A34040;}

.B_crumb{
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    margin-left:5px;
    color:#A34040;

}
.B_currentCrumb{
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    margin-left:5px;
    color:#A34040;
}

.B_homeCrumb{
    color:#A34040;
}

.B_homeCrumb:hover{
    color:#A34040;
}

.B_homeCrumb:visited{
    color:#A34040;
}

.B_crumb:hover{
    color:#A34040;
}

.B_crumb:visited{
    color:#A34040;
}

.B_currentCrumb:hover{
    color:#A34040;
}

.B_currentCrumb:visited{
    color:#A34040;
}

h3 {
    height: 25px !important;
}

.slides-my-small{
    width:220px !important;

}

#slider{
    margin: 0 111px 10px;
    width: 443px !important;
}

.foto-slide-my{
    height: 160px !important;
}

#carousel{
    height:160px !important;

}

#carousel a{
    margin-top:-100px;

}
#carousel img{
    width: 88%;
    padding-left: 13px;
    padding-top: 6px;
    height: 147px !important;
}

.button-send-t {
    width: 205px;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-decoration:none;
}

.button-send-t:hover {
    width: 205px;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-decoration:none;
}

.button-send-t:active {
    width: 205px;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-decoration:none;
}


.button-send-t:visited{
    width: 205px;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-decoration:none;
}

.iframe{
    text-decoration:none;
}

.iframe:hover{
    text-decoration:none;
}


.button-send-page {
    height: 19px;
    width: 163px;
    padding: 5px;
    text-decoration: none;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.button-send-page:hover {
    height: 19px;
    width: 163px;
    padding: 5px;
    text-decoration: none;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
.button-send-page:focus {
    height: 19px;
    width: 163px;
    padding: 5px;
    text-decoration: none;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
.button-send:active {
    height: 19px;
    width: 163px;
    padding: 5px;
    text-decoration: none;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.button-send:visited {
    height: 19px;
    width: 163px;
    padding: 5px;
    text-decoration: none;
    border-color: #781541;
    border-style: solid;
    border-width: 1px;
    background: #781541;
    cursor: pointer;
    box-shadow: 0 0 8px #781541;
    border: 2px solid #781541;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
.page-a-send:hover{
    text-decoration: none;
}

.wp-pagenavi li {
    display: inline;
}

.wp-pagenavi{
    margin: 25px 0 0 0;
}

.wp-pagenavi li.control {
    margin: 0 2px 0 2px;
}

.pages{
    margin-right: 15px;
}
.wp-pagenavi li a{
    margin: 0 2px 0 2px;
    padding:4px;
    color:#000;

}
.wp-pagenavi li a:hover{
    margin: 0 2px 0 2px;
    padding:4px;
    color:#000;

}.wp-pagenavi li a:focus{
     margin: 0 2px 0 2px;
     padding:4px;
     color:#000;

 }

.wp-pagenavi li a.active {
    margin: 0 5px 0 5px;
    background-color:#A34040;
    padding:4px;
    color:#fff;
}

.ul-islugi{
    margin-left:18px;
    list-style-type:none;
}
.kipr-cifra{
    margin-left:18px;
    list-style-type:decimal;
}

.kipr-cifra li{
    text-align:justify
}
.ul-islugi li{
    text-align:justify;
}

.ul-kipr{
    margin-left:0px;
    list-style-type:none;
}

.kipr-left{
    float: left;
    width: 227px;
}

.kipr-right{
    float: left;
    margin-left: 11px;
}

.ul-cifti{
    margin-left:18px;
    list-style-type:upper-alpha;
}

.pull-right{
    color:#fff;
}
.pull-right:hover{
    color:#fff;
}
.pull-right:focus{
    color:#8b0000;
}

.copyrights{
    color:#8b0000;
}

.logotype{
    width:420px;
    margin-left: 5px;
    display: inline-block;
    float:left;

}
.flag{
    width:200px;
    position: absolute;
    top: 25px;
    right:100px;
    display: inline-block;
}

#home-h3{
    width: 261px;
    padding: 10px;
}
/*************************************************************************************************
* new search form styles
**************************************************************************************************/
/* @group Base */
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
}
.chosen-container a {
    cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 23px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}
.chosen-container-single .chosen-default {
    color: #999;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: white url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat 100% -20px;
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url(/bundles/arcana/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
}
.chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
}
.chosen-container .chosen-results li.no-results {
    display: list-item;
    background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
}
.chosen-container .chosen-results li.group-option {
    padding-left: 15px;
}
.chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    cursor: text;
}
.chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 5px;
    height: 15px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #666;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
    color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-clip: padding-box;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
}
.chosen-disabled .chosen-single {
    cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
    text-align: right;
}
.chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
}
.chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
}
.chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
}
.chosen-rtl .chosen-choices li {
    float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
    left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: white url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat -30px -20px;
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background: url(/bundles/arcana/images/chosen/chosen-sprite.png) no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
    direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .chosen-rtl .chosen-search input[type="text"],
    .chosen-container-single .chosen-single abbr,
    .chosen-container-single .chosen-single div b,
    .chosen-container-single .chosen-search input[type="text"],
    .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
    .chosen-container .chosen-results-scroll-down span,
    .chosen-container .chosen-results-scroll-up span {
        background-size: 52px 37px !important;
        background: url(/bundles/arcana/images/chosen/chosen-sprite@2x.png) no-repeat !important;
    }
}
/* @end */
/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*tabs*/
.tabs {
    position: relative;
    *zoom: 1;

}
.tabs dt {
    float: left;
    position: relative;
    height: 30px;
    padding: 0 0 0 21px;
    margin-right: 20px;
    margin-left: 6px;
    color: #3a3a3a;
    background: url(/bundles/arcana/images/chosen/tab_rad.png) -15px 0 no-repeat;
    cursor: pointer;
}
.tabs dt span {border-bottom: 1px dotted #999;}
.tabs dt:hover span,
.tabs dt.selected span {border: 0; }
.tabs dt.selected {
    color: #000;
    border: 0;
    z-index: 3;
    background-position:0 -15px;
    cursor: auto;
}
.tabs dd {
    position:absolute; 	/*ie-friendly method -fix buts bags*/
    top:-9999px;
    left:-9999px;
    float: right;
    width: 100%;
    margin: 20px 0 0 -100%;
    position: relative;
    z-index: 2;
}
.tabs dd.selected {
    position:relative;
    top:0;
    left:0;
}
.tabs .tab-content {position: relative;}


/*search-form*/
.search-form {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 210px;
    height: 420px;
    padding: 0 0 0 0;
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.57);

}
.search-form a {color: #FFF;}
.search-form td {
    color: #a34040;
    padding: 5px 5px 3px;
}
.search-form td em {

    font-style: normal;
    position: relative;
    top:3px;
}
.search-block{
    width: 220px;
    height: 411px;
    display:inline-block;
    position: relative;
    margin-left:-5px
}

/***********************************************************************************************/
div.search-form select td{
    font: 13px/1.3846 Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; /*13-18*/
}
/*	forms
-----------------------------------------------------------------------*/

form {
    margin: 0;
    padding: 0;
}

input[type="image"],
input[type="button"],
label {
    cursor: pointer;
}
table {
    width: 100%;
    border: 0;
}


/*i-clearfix*/
.i-clearfix:before,
.i-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.i-clearfix:after {
    clear: both;
}
*+html .i-clearfix {
    zoom: 1;
}
.checkbox-label{
    margin-left:87px;margin-bottom:5px;
}
.checkbox-label-type{
    margin-left:45px;margin-bottom:5px;
}
.choosen-width{
    width:194px;
}
.choosen-width-price-left{
    width:60px;vertical-align: top;
}
.choosen-width-price{
    width:70px;vertical-align: top;
}
#sell{
    font-size: 10px;
    font-weight: bold;
}
#rent{
    font-size: 10px;
    font-weight: bold;
}
small {
    font-size: 95%;
}

strong {
    font-weight: bold;
}
.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    /*background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	*/
    border-color: darkred;
    border-style: solid;
    border-width: 1px;
    background: darkred;
    box-shadow: 0 0 8px #8b0000;
    border: 2px solid #8b0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#news-h3{
    margin: 0px;
    height: 19px !important;
}

#obrezka{
    margin:5px 0 5px 0;

}

.readmore-page{
    margin: 8px 0 27px 0;

}

.left-block2{
    margin-left: 9px;
}

@font-face {
    font-family: AGFriquerC-Bold; /* Р“Р°СЂРЅРёС‚СѓСЂР° С€СЂРёС„С‚Р° */
    src: url(/fonts/AGFriquerC-Bold.otf); /* РџСѓС‚СЊ Рє С„Р°Р№Р»Сѓ СЃРѕ С€СЂРёС„С‚РѕРј */
}
.telefon {
    font-family: AGFriquerC-Bold, 'Comic Sans MS', cursive;
}

.telefon-footer{
    font-family: AGFriquerC-Bold, 'Comic Sans MS', cursive;
}
.clear{clear:both;}
.contacts-p{
    margin: 0;
    text-align: left;
    font-size: 10px;
}

.contacts-div{
    float: left;
    width: 157px;
    padding: 5px;
}

.contacts-a{
    text-decoration:underline;
}

.contacts-a:hover{
    text-decoration:none;
}

.contacts-a:focus{
    text-decoration:none;;
}

.contacts-a:active{
    text-decoration:none;
}

.contacts-a:visited{
    text-decoration:none;
}

.contacts-a:focus{
    text-decoration:none;;
}

.contacts-a:active{
    text-decoration:none;
}

.contacts-a:visited{
    text-decoration:none;
}
.login-link{
    float: right;
    margin-bottom: 10px;
}
.admin-link{
    float: right;
    margin-bottom: 10px;
    margin-right: 100px;
}


/*********************************************************************************************
* BOX
**********************************************************************************************/
.box-size{
    width: 600px;
    height: 990px;
}
.box-item-size{
    width: 600px;
    min-height: 345px;

}
.box-title-size{
    width:400px;
    height: 100px;
}
.box {
    position:relative;
    margin: 5px;
    border-radius:4px;
    padding: 30px;
    background:#fff;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box:before,
.box:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.box:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}
.box-item{

    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
}
/**********************************************************************************
* Face entities
***********************************************************************************/
.reserved{
    font-weight: bold;
    font-size: larger;
    color: #8b0000;
}
.reserved-item{
    font-weight: bold;
    font-size: larger;
    color: #010e62;
}
.not-reserved{
    font-weight: bold;
    font-size: larger;
    color: transparent;
}
/***********************************************************************************
* bootstrap
***********************************************************************************/

.pagination {
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.pager {
    margin: 20px 0;
    text-align: center;
    list-style: none;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    line-height: 0;
    content: "";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next > a,
.pager .next > span {
    float: right;
}

.pager .previous > a,
.pager .previous > span {
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #999999;
    cursor: default;
    background-color: #fff;
}
.text-center {
    text-align: center;
}
/***********************************************************************************
* correction for bootstrap
***********************************************************************************/
.pagination-face-b a{
    color: #0044cc;
}
.pagination-face a{
    color: greenyellow;
}
/***********************************************************************************
* end bootstrap
***********************************************************************************/
/***********************************************************************************
* feedback
***********************************************************************************/

.fb{
    display: none;
    position: fixed;
    top: 15px;
    left: 500px;
    border-radius: 12px;
    border: 4px solid #8b0000;
    background-color: #193A7A;
    width:400px;
    height: 610px;

}
#feedback-form{
    margin-top: 20px;
    color: #fff;
}
.buttn{
    border-radius: 10px;
    background-color: darkblue;
    width:200px;
    height: 50px;
    border: 1px solid #8b0000;
    color: #fff;
}
.inp-div{
    margin-top:15px;
    margin-left:50px;
}
.inp-div-btn{
    margin-top:15px;
    margin-left:100px;
    color: #fff;
}
.inpt{
    border-radius: 4px;
    width:300px;
    height: 50px;
    border: 1px solid red;
    background-color: #ffc900;


}
.textarea{
    width:300px;
    border-radius: 4px;
    border: 1px solid red;
    background-color: #ffc900;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-shadow: 0 1px 0 #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.feedback-request{
    position: fixed;
    top: 120px;
    left: 480px;
    border-radius: 15px;
    border: 4px solid #8b0000;
    background-color: darkgreen;
    width:300px;
    height: 100px;

}
.feedback-success-text{
    margin-top:30px;
    width:300px;
    text-align: center;
    font-size: 20px;
    color: #fff;

}
.feedback-error-text{
    margin-top:30px;
    width:300px;
    text-align: center;
    font-size: 20px;
    color: red;
}
#feedback-success{
    display: none;
}
#feedback-error{
    display: none;
}
/***********************************************************************************
* end feedback
***********************************************************************************/