h1{
    font-size: 25px;
    margin: 0;
}
body{
    background-color:#252525;
    margin:0;
    font-family: 'Roboto', sans-serif;
    height:900px;
    font-weight:300;
}
.header{
    position:relative;
    background-color:#c13035;
    width:960px;
    height:150px;
    margin:auto;
}
.hgroup{
    position:relative;
    margin: auto;
    height:90px;
    width:750px;
    padding-top: 35px;
}
a.title{
    color:#eee;
    font-size:45px;
    text-decoration:none;
}
nav.top-nav-panel{
    position:relative;
    height:40px;
    width:960px;
    margin: auto;
    background: -moz-linear-gradient( top,  #e0e0e0, #ccc, #b0b0b0);
    background: -o-linear-gradient( top,   #e0e0e0, #ccc, #b0b0b0);
    background: -ms-linear-gradient( top,   #e0e0e0, #ccc, #b0b0b0);
    background: -webkit-linear-gradient( top,    #e0e0e0, #ccc, #b0b0b0);
    background: linear-gradient( top,   #e0e0e0, #ccc, #b0b0b0);
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #8c8c8c;
}
.container-main{
    color: #424854;
    position:relative;
    margin: auto;
    height:700px;
    width:960px;
    background-color:#edeff4;
    font-weight:400;
}
.container-main-admin{
    color: #424854;
    position:relative;
    margin: auto;
    height:1200px;
    width:960px;
    background-color:#edeff4;
    font-weight:400;
}
.container-footer{
    position:relative;
    margin: auto;
    height:220px;
    width:960px;
    color: #424854;
    background-color:#e6e8ec;
    border-top: 1px solid #e0e0e0;
}
.container-inner{
    padding-left:25px;
    padding-right:25px;
}
.inner-main-title{
    text-align: center;
    margin: 0 auto 40px;
    padding-top: 25px;
}
.create-entities-buttons{
    width: 100%;
    height: 5px;
    display: block;
    position: relative;
}
.create-entity-apartment{
    position: absolute;
    top:20px;
    left:50px;
}
.create-entity-commercial{
    position: absolute;
    top:20px;
    left:50px;
}
.create-entity-forest{
    position: absolute;
    top:20px;
    left:50px;
}
.create-entity-image{
    position: absolute;
    top:100px;
    left:50px;
}
.create-entity-tag{
    position: absolute;
    right:50px;
    top:100px;
}
.create-entity-home{
    position: absolute;
    right:50px;
    top:100px;
}
.create-entity-homestead{
    position: absolute;
    right:50px;
    top:100px;
}
.create-entity-land{
    position: absolute;
    right:50px;
    top:100px;
}
.create-entity-owner{
    position: absolute;
    right:50px;
    top:100px;
}
.create-entity-image{
    position: absolute;
    right:50px;
    top:100px;
}
.modal-inner-book{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.modal-inner-tag{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.description-show-block{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 30px 15px;
    background-color: #fafaf2;
    border: 1px solid #8c8c8c;
}
.description-title{
    text-align: center;
    font-size: 20px;
}
.top-nav-block{
    position:relative;
    float: left;

    height:30px;
    width:700px;
    list-style: none;

    margin: 10px auto 0;

}
.bottom-nav-block{
    list-style: none;
    margin: 5px auto 0;
    padding-left: 25px;
}
.inner-li-top-nav-left{
    margin-left: 15px ;
    position:relative;
    display:inline;
}
.inner-li-top-nav{
    border-left: 2px solid #b0b0b0;
    margin-left: 2px ;
    padding-left: 5px ;
    display:inline;
}
.inner-li-top-nav-right{

    border-left: 2px solid #b0b0b0;
    margin-left: 2px ;
    padding-left: 5px ;
    display:inline;
}
a.top-nav-link{
    color:#6b6b6b;
    text-shadow: #ebebeb 0 1px;
    font-size:17px;
    text-decoration:none;
}
a.subscribe-rss-top-nav{

}
ul.subscription{
    position:absolute;
    right:40px;
    top:5px;
    list-style: none;
    margin: 0;
}
input.search {
    padding: .3em .5em 0;
    font-size: .85em;
    font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
    line-height: 1.1em;
    width: 180px;
    height: 20px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: #d1d1d1 0 1px;
    -moz-box-shadow: #d1d1d1 0 1px;
    box-shadow: #d1d1d1 0 1px;
    background-color: #f2f2f2;
    border: 1px solid #b3b3b3;
    color: #888;
}
.form-search{
    position:absolute;
    right:75px;
    top:5px;
    margin: 0;

    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;

    padding: 0;
}
.img-rss{
    opacity: 0.7;
}
.flag-top-nav{
    position: absolute;
    right: 90px;
    top:5px;
}
.inner-edit-block{
    color: #424854;
    margin: 0 auto;
    padding-top: 35px;
    width: 200px;

}
.record_actions{
    list-style: none;
}

.owner-name{
    font-size: x-large;
    font-weight: bolder;
}