<center><b style="font-weight: bold; font-size: 20px">Pas mus</b></center>
<p>
    Planuojate išvykti gyventi į užsienį, bet negalite greitai parduoti jums priklausantį
    būtą arba namą? Neturite laiko ieškoti pirkėjų, vaikščioti po komunalines paslaugas
    teikiančias institucijas, stovėti begalinėse eilėse, ir norėtumėte iškart gauti visus
    pinigus už parduotą turtą?
</p>
<p>
    Mes laukiame jūsų! Mes ne tik greitai nupirksime jums priklausantį nekilnojamąjį turtą,
    bet <b><u>ir iškart sumokėsime visus pinigus</u></b>. Pasistengsime maksimaliai palengvinti pirkimo-pardavimo
    procedūrą. Jūsų patogumui suteiksime operatyvią teisinę ir juridinę pagalbą, greitai paruošime
    pilną pirkimo-pardavimo sandoriui reikalingų dokumentų paketą, susitarsime su notaro biuru dėl
    sandorio datos ir laiko, nuvyksime į Registrų centrą, susisieksime su komunalinių paslaugų tiekėjais,
    apskaičiuosime mokesčius ir t.t.
</p>
<p>
    Pragyvenę ilgą laiką užsienyje, pasiilgote savo gimtojo krašto ir planuojate sugrįžti namo? Tačiau
    gyvenant užsienyje sudėtinga surasti jums ir jūsų šeimai tinkamą butą arba žemės sklypą, kur svajojate
    pasistatyti jaukų ir gražų namelį?
</p>
<p>
    Kreipkitės pas mus! Mūsų įmonė siūlo didelį butų, namų, patalpų, sodybų žemės sklypų ir miškų pasirinkimą.
    Mūsų siūlomo nekilnojamojo turto įvairovė patenkins bet kokius lūkesčius ir kišenę. <b><u>Dirbame nuotoliniu būdu</u></b>.
    Operatyviai paruošime visus galinčius jus sudominti nekilnojamojo turto ir žemės variantus ir atsiųsime juos
    į jūsų nurodytą elektroninį paštą. Jūsų patogumui galėsime bendrauti per Skype. Esant reikalui išversime
    reikalingus dokumentus iš/į lietuvių, anglų, rusų kalbas.
</p>
<p>
    Žmonėms, gyvenantiems užsienyje ir neturintiems galimybės skubiai atvykti į Lietuvą (pvz., giminaičio mirties atveju),
    užtenka parašyti įgaliojimą mūsų įmonės ar įmonės darbuotojo vardu, ir mes <b><u>sutvarkysime visus paveldėjimo dokumentus</u></b>.
    Taip pat, įvertinsime jūsų paveldėtą turtą, nupirksime jį arba tarpininkaudami padėsime jį parduoti jums palankiomis
    sąlygomis.
</p>
<p>
    Tuo atveju, jeigu jūs planuojate pradėti verslą arba plėsti jau esančią verslo rinką, suteiksime jums visapusišką pagalbą.
    Norintiems pradėti verslą padėsime įsteigti bet kokios juridinės formos įmones, o tiems, kas ieško naujų rinkų padėsime
    surasti ir išnuomoti atitinkančias poreikius ir verslo specifiką patalpas.
</p>
<p>
    Jums reikia tik konsultacijos? Mes jūsų laukiame! Mūsų įmonės darbuotojai mielai suteiks išsamias konsultacijas visais
    jums rūpimais klausimais.
</p>
<center>
    <b><u>Mes dirbame operatyviai, kokybiškai, profesionaliai ir patikimai!</u></b>
</center>
<p>
    <b>10 priežasčių, kodėl jūs turite kreiptis pas mus?</b>
</p>
<ol>
    <li>
        <b>Perkame ir parduodame visų rūšių nekilnojamąjį turtą, žemės sklypus bei mišką ne tik Akmenės rajone, bet ir visoje Lietuvoje.</b>
    </li>
    <li>
        <b>Nuomojame ir išnuomojame bet kokį nekilnojamąjį turtą.</b>
    </li>
    <li>
        <b>
            Tarpininkaujame perkant, parduodant arba (iš)nuomojant bet kokį nekilnojamąjį turtą
        </b>
    </li>
    <li>
        <b>Greitai paruošime pilną pirkimo-pardavimo sandoriui reikalingų dokumentų paketą.</b>
    </li>
    <li>
        <b>
            Atliekame nekilnojamojo turto vertinimą.
        </b>
    </li>
    <li>
        <b>
            Reklamuojame parduodamą nekilnojamąjį turtą be papildomo mokesčio.
        </b>
    </li>
    <li>
        <b>
            Konsultuojame visais nekilnojamojo turto klausimais.
        </b>
    </li>
    <li>
        <b>
            Padedame steigti įmones.
        </b>
    </li>
    <li>
        <b>
            Padedame sutvarkyti paveldėjimo dokumentus.
        </b>
    </li>
    <li>
        <b>
            Teikiame vertimo paslaugas.
        </b>
    </li>
</ol>
