{% extends 'ArcanaBundle::layout.html.twig' %}
{% block body -%}
    <div class="box box-item-size description text-center" >
        {% if  app.request.get('_locale')  == "ru" %}
            {% include 'ArcanaBundle:Text:about-ru.html.twig' %}
        {% endif %}
        {% if  app.request.get('_locale')  == "en" %}
            {% include 'ArcanaBundle:Text:about-en.html.twig' %}
        {% endif %}
        {% if  app.request.get('_locale')  == "lt" %}
        {% include 'ArcanaBundle:Text:about-lt.html.twig' %}
        {% endif %}
    </div>
{% endblock %}