<center><b style="font-weight: bold; font-size: 20px">About us</b></center>
<p>
    Are you planning to go abroad, but not quickly sell you own
         apartment or house? Do not have time to look for buyers to walk after utilities
         making institutions, and to stand in endless queues, and would like to get all at once
         Money from the sale of assets?
</p>
<p>
    We are waiting for you! We are not only fast Buy you own real estate
         but <b> <u> and immediately pay all the money </u> </b>. We will try to maximize the ease of purchase and sale
         procedure. For your convenience, provide operational legal and judicial assistance quickly prepare
         complete the purchase-sale transaction required package of documents, agree with the notary's office for
         transaction date and time, go to the Centre of Registers, contact the utility companies,
         calculate taxes, etc.
</p>
<p>
    Lived abroad for a long time, you miss your country and plan to return home? however
         living abroad difficult to find for you and your family the right apartment or a plot of land where dreaming
         to build a cozy and nice house?
</p>
<p>
    Please contact us! Our company offers a wide range of apartments, houses, rooms, homestead land and forests choice.
         We offer a variety of real estate will satisfy any expectations and pocket. <b> <u> work remotely </u> </b>.
         Promptly prepare all you might be interested in real estate and land options and send them
         to your specified email address. For your convenience, we will be able to communicate via Skype. If necessary, translate
         the necessary documents to / from Lithuanian, English and Russian languages​​.
</p>
<p>
    People living abroad and do not have the chance to quickly come to Lithuania (eg., The death of a relative)
         enough to write the power of our company or the company on behalf of the employee, and we <b> <u> will arrange the succession documents </u> </b>.
         Also, assess your possession of the property, buy it or mediating help sell it to you on favorable
         conditions.
</p>
<p>
    In this case, if you are planning to start a business or expand an existing business market, will give you full support.
         Wanting to start a business will help to establish any form of legal entities and those who are looking for new markets to help
         to identify and meet the needs of rent and specifics of the business premises.
</p>
<p>
    You only need advice? We are waiting for you! Our staff will be happy to give detailed advice on all
         questions you may have.
</p>
<center>
    <b><u>We work quickly, qualitatively and professionally!</u></b>
</center>
<p>
    <b>10 reasons why you should get in touch with us?</b>
</p>
<ol>
         <li>
                 <b> buy and sell all types of real estate, land and forest is not just a stone in the area, but also in Lithuania. </b>
             </li>
         <li>
                 <b> rent and leases of any real estate. </b>
             </li>
         <li>
                 <b>
                         Mediate in buying, selling, or (the) lease any real estate
                     </b>
             </li>
         <li>
                 <b> Quickly prepare a full purchase-sale transaction required package. </b>
             </li>
         <li>
                 <b>
                         We perform real estate assessments.
                     </b>
             </li>
         <li>
                 <b>
                         Advertised sold property at no additional charge.
                     </b>
             </li>
         <li>
                 <b>
                         Consult on all real estate matters.
                     </b>
             </li>
         <li>
                 <b>
                         Helping to set up businesses.
                     </b>
             </li>
         <li>
                 <b>
                         Assist in settling the succession documents.
                     </b>
             </li>
         <li>
                 <b>
            We provide translation services.
        </b>
     </li>
</ol>
