<center><b style="font-weight: bold; font-size: 20px">O компании</b></center>
<br />
<p>
    Европейский Союз – заветная мечта многих россиян, белорусов, украинцев и
    граждан других третьих государств. Однако, в большинстве случаев, эта мечта
    так и остается мечтой. Как правило, людей отпугивает не только сама процедура
    получения разрешения на проживание в странах-членах Европейского Союза, но и не
    знание законодательной базы, языка и т.д.
</p>
<p>
    Впрочем, трудоемкая на первый взгляд процедура в действительности является простой и легковыполнимой.
    При этом нет необходимости самостоятельно собирать все необходимые документы, обходить огромное
    количество государственных учреждений и тратить время в бесконечных очередях.
    <b>Наша фирма поможет Вам решить весь спектр проблем от юридических аспектов покупки недвижимости,
        сбора необходимых документов, открытия фирмы и получения ВНЖ/ПМЖ до консультаций и услуг перевода.</b>
</p>
<p>
    <b>
        Основные преимущества покупки недвижимости в Литве. Почему эту процедуру следует доверить именно нам?
    </b>
</p>
<p>
    Хотите приобрести недвижимость в Европейском Союзе? Приезжайте в Литву! Литва является уникальным местом
    для проживания и осуществления предпринимательской деятельности.
</p>
<p>
    Выгодное географическое положение и прекрасно развитая транспортная инфраструктура (4 международных
    аэропорта и морской порт) гарантирует быструю и беспрепятственную коммуникацию как со странами
    Европейского Союза, так и с Восточной Европой. Вы без труда сможете вести дела со своими европейскими
    партнерами или выезжать с семьей на отдых, выбрав тихое и спокойное побережье Балтийского моря
    (курорты Литвы, Латвии, Эстонии, Польши, Германии), оздоровительно-рекреационный отдых (санатории в
    Друскининкай, чешские Карловы Вары), активный спортивный отдых (горнолыжные курорты Польши, Словакии,
    Германии), а также морские круизы и ознакомительные автобусные туры. Литва гарантирует полную социальную
    защищенность, высокий уровень комфорта и предоставляемых услуг.
</p>
<p>
    <b>Наша фирма предоставляет богатый выбор недвижимости на любой вкус</b>
</p>
<p>
    <b>
        Для Вашего удобства мы предоставим оперативную правовую и юридическую помощь, полное сопровождение сделки,
        быстро подготовим пакет документов, необходимых для нотариального оформления договора купли-продажи.
        Мы заключим договора с местными органами ЖКХ, рассчитаем налоговые платежи, поможем открыть фирму для
        дальнейшего получения разрешения на проживание в Литовской Республике (ВНЖ). В том случае если у Вас нет
        возможности лично присутствовать при сделке, мы выступим в качестве Ваших посредников или доверенных лиц
        в нотариальных бюро и различных государственных учреждениях. Наши сотрудники максимально упростят процедуру
        получения ВНЖ/ПМЖ и сопроводят Вас в миграционную службу. Если же Вы планируете увеличить свой доход,
        мы поможем найти и арендовать отвечающее Вашим запросам помещение для осуществления коммерческой /
        предпринимательской деятельности. Наша фирма гарантирует <u>высокое качество, профессионализм и надежность
        предоставляемых услуг, а также полную защиту от юридических рисков</u>.
    </b>
</p>
<p>
    <b>
        Разрешение на проживание в Литовской Республике (ВНЖ/ПМЖ)
    </b>
</p>
<p>    В Литве существует два вида разрешения на проживание для иностранных граждан: разрешение на временное проживание
    (ВНЖ) и разрешение на постоянное проживание (ПМЖ). Наличие разрешения на проживанию любого вида предоставляет
    Вам такие же права и гарантии, как у граждан Литвы и других стран ЕС.
</p>
<p>
    <b>
        5 преимуществ разрешения на проживание в Литве:
    </b>
</p>
<div style="text-align: left; padding-left: 40px">
    <ol>
        <li>
            ВНЖ/ПМЖ обеспечит Вам все социальные и гражданские гарантии, включая медицинское обслуживание,
            правовую защиту, образование, выплаты по рождению ребенка, нетрудоспособности, пенсионные выплаты и т.д.
        </li>
        <li>
            Вы сможете свободно передвигаться по всей территории стран-участниц Шенгенского соглашения. Шенгенская
            территория будет для Вас открыта.
        </li>
        <li>
            У Вас появится возможность выбирать место жительства в Литовской Республике, менять его,
            в любое время выезжать и въезжать в Литву в период действия разрешения на проживание.
        </li>
        <li>
            Наличие разрешения на проживание облегчит получение виз в такие страны, как США, Канада, Великобритания, Австралия.
        </li>
        <li>
            Вы сможете беспрепятственно работать в Литве и других странах ЕС.
        </li>
    </ol>
</div>
<p>
    Изначально, иностранный гражданин может получить только временное разрешение.
    Разрешение на временное проживание в Литовской Республике выдается иностранцу, который <b>не является
        гражданином страны-члена Европейского Союза</b>. Обычно оно выдается сроком на один год.
</p>
<p>
    По прошествии пяти лет иностранец имеет право получить постоянное разрешение на проживание – документ,
    предоставляющий иностранному гражданину право на проживание в Литовской Республике и подтверждающий
    его статус постоянного жителя. Оно оформляется сроком на пять лет, после чего подлежит замене.
</p>
<p>
    <b>
        Наша фирма в любое время предоставит Вам подробное описание всех возможных программ получения ВНЖ/ПМЖ
        в Литве и подготовит полный пакет необходимых для Миграционной службы документов от сбора необходимых
        справок до Вашего сопровождения к сотруднику Миграционной службы. Мы работаем быстро, качественно и надежно!
    </b>
</p>
<p>
    Самый простой способ получить разрешение на проживание в Литве –зарегистрировать в Литовской Республике
    учреждение или организацию в качестве владельца. Данное предприятие является гарантом осуществления законной
    предпринимательской деятельности в Литовской Республике, что дает право на получение ВНЖ. В том случае,
    если Вы выбрали этот вариант, смело обращайтесь к нам! Мы предоставим полные и развернутые консультации
    по всем вопросам учреждения предприятий в Литве, окажем необходимую помощь и, при необходимости, сопроводим
    Вас в различные государственные учреждения (нотариальные бюро, Центр реестров, Миграционную службу, банк и т.д.).
</p>
<p>
    Документы, которые необходимо предоставить в Миграционную службу для получения ВНЖ на основании владения предприятием:
</p>
<div style="text-align: left; padding-left: 40px">
    <ol>
        <li>
            Ходатайство установленной формы о выдаче разрешения на временное проживание в Литовской Республике;
        </li>
        <li>
            фотография (40 х 60 мм), соответствующая возрасту;
        </li>
        <li>
            оригинал и копия действующего дорожного документа (паспорта);
        </li>
        <li>
            оригинал и копия действующей Шенгенской визы;
        </li>
        <li>
            документ о месте жительства в Литовской Республике;
        </li>
        <li>
            документ, подтверждающий, что Вы являетесь владельцем предприятия (устав учреждения или организации, выписка
            из Реестра юридических лиц). Данный документ является основанием для выдачи разрешения на временное проживание;
        </li>
    </ol>
</div>


