{% extends 'ArcanaBundle::layout.html.twig' %}
{% block body -%}
    <div class="box box-item-size description text-center" >
        {% if  app.request.get('_locale')  == "ru" %}
        {% include 'ArcanaBundle:Text:akmene-ru.html.twig' %}
        {% endif %}
        {% if  app.request.get('_locale')  == "en" %}
        {% include 'ArcanaBundle:Text:akmene-en.html.twig' %}
        {% endif %}
        {% if  app.request.get('_locale')  == "lt" %}
        {% include 'ArcanaBundle:Text:akmene-lt.html.twig' %}
        {% endif %}
    </div>
{% endblock %}