<center><b style="font-weight: bold; font-size: 20px">O городе</b></center>
<br />
<p>
    <b>Науйойи Акмяне</b> (лит. Naujoji Akmenė) – небольшой город на севере Литвы в Шяуляйском уезде.
    В настоящее время в Науйойи Акмяне проживает 12000 жителей. Выгодное географическое положение
    и прекрасно развитая транспортная инфраструктура позволит быстро и без припятствий попасть
    в крупные города Литвы и Латвии. Расстояние до Шяуляя составляет всего 46 км, до Риги – 120 км,
    до Рижского международного аэропорта – 120 км., до международного аэропорта в Паланге – 130 км,
    до Клайпедского морского порта – 130 км. Кроме того, город находится относительно недалеко от
    Балтийского побережья, благодаря чему жители города могут отдыхать как на Литовских (120 км),
    так и на Латышских курортах (100 км).
</p>
<p>
    Науйойи Акмяне является административным центром Акмянского района. Здесь находятся все основные
    государственные учреждения и институции: городское самоуправление, суд, полиция, прокуратура,
    миграционная служба, ЗАГС, больница, почта, банки и др. Это позволяет решать все возникающие
    проблемы в самые короткие сроки. Кроме того, развитая городская инфраструктура гарантирует
    оказание всех видов услуг: социальных, правозащитных, медицинских, культурно-образовательных,
    транспортных и т.д. В городе очень низкий показатель преступности. Относительно небольшая территория
    и слаженная работа полиции гарантирует безопасность всем жителям города.
</p>
<p>
    Науйойи Акмяне – живописный, уютный и культурный городок с прекрасной экологией. В городе и его
    окресностях находятся ботанический сад, национальный парк, несколько резерватов и заповедников,
    а также другие охраняемые правительством геологические и ботанические объекты. Весной большое
    количество лесов привлекают любителей природы, а осенью – любителей грибов и ягод.
</p>
<p>
    Несмотря на то, что город достаточно молодой (основан в 1952 году), в последние годы он активно
    развивается. Проводится реновация зданий. В ближайшем будущем планируется провести реновацию 70-80
    % многоквартирных домов. В настощее время проводится реконструкция центральной площади, озеленение
    города и развитие дорожно-транспортной инфраструктуры. Кроме того, в районе очень хорошо развито
    сельское хозяйство. Благодаря этому город является перспективным и привлекательным и для
    предпринимательства.
</p>
<p>
    Новые предприятия и создание благоприятного для предпринимательской деятельности окружения способствуют
    активному привлечению новых инвестиций и предпринимателей как из других городов Литвы, так и из других
    Европейских стран. Город участвует в крупных национальных и европейских проектах, орентированных, в том
    числе, на стратегическое развитие города, защиту окружающей среды, развитие спортивной инфраструктуры,
    дошкольного и школьного образования, культуры и т.д.
</p>
<p>
    Науйойи Акмяне является также культурно-образовательным центром. В городе дейтсвует Дом культуры,
    гимназия «Рамучю», прогимназия «Саулетекё», детский сад-ясли «Атжалинас» и «Жвайгждуте», детский
    сад-школа «Буратинас», музыкальная школа, учебный центр для взрослых и публичная библиотека.
</p>