<center><b style="font-weight: bold; font-size: 20px">About town</b></center>
<br />
<p>
    <b>New Akmene</b> (lit. Naujoji Akmenė) - a small town in northern Lithuania in Šiauliai region.
    Currently  New Akmene has 12,000 inhabitants. The favorable geographical position and well-developed
    transport infrastructure to quickly and without problems to get  major cities of Lithuania and Latvia.
    Distance from Shiauliai is just 46 km,  from Riga - 120 km,  from Riga International Airport - 120 km.,
    from international airport  Palanga - 130 km, from  Klaipeda seaport - 130 km. In addition, the city is
    relatively close to the Baltic coast, so city dwellers can relax as Lithuania (120 km) and in the Latvian
    resort (100 km).
</p>
<p>
    Naujoji Akmene Akmene is an  administrative center of the district. There are many
         government agencies and institutions, municipal government, court, police, prosecutors,
         Migration Service, registry office, hospital, post office, banks and others. This allows us
        to solve all arising problems in the shortest time. In addition,  developed urban infrastructure
    guarantees    providing all kinds of services: social, human rights, health, cultural, educational,
         transport etc. There are very low crime rate in the city . A relatively small area
         and coordinated work of the police security guarantees to all inhabitants of the city.
</p>
<p>
    New Akmene - a picturesque, friendly and cultural city with beautiful ecology. Close to  city and its
         outskirts located Botanical Garden, National Park, a few reserves and sanctuaries,
         as well as other protected by the government geological and botanical objects. At the spring
         large forests attract nature lovers and fall - lovers of mushrooms and berries.
</p>
<p>
    Despite the fact that the city is relatively young (founded in 1952), now it actively
         develops. Carried out the renovation of buildings. In the near future it is planned to conduct the renovation 70-80
         % of  buildings. At the moment take place  reconstruction of central square, landscaping
         the city and  development of road transport infrastructure. Furthermore, at the region is  well
        developed   agriculture. Thanks to this?  city is a promising and attractive for
         entrepreneurship.
</p>
<p>
    New businesses and creating a favorable climate for business activities contribute
         active attraction of new investments and entrepreneurs from other towns of Lithuania and other
         European countries. City participates in major national and European projects, oriented  on the
        strategic development of the city,  ecology,  development of sports infrastructure,
         preschool and school education, culture, etc
</p>
<p>
    New Akmene is also a cultural and educational center. The city has a cultural center,
         Gymnasium "Ramuchyu", progymnasium "Saulėtekis" kindergarten-nursery "Atzhalinas" and "Zhvaygzhdute", children
         garden-school "Buratinas", a music school, a training center for adults and public libraries.
</p>