<center>
    <div style="text-align: left; margin-left: 170px;margin-top: 50px">
        <h4>We are waiting for you</h4>

        Republic str. 1A,<br />

        New Akmenė<br />

        LT-85132<br />

        Tel.: +370 675 44 884<br />

        +370 425 32 869<br />

        E-mail: <a href="mailto:info@akmenesnekilnojamasturtas.lt" style="color: dodgerblue">info@akmenesnekilnojamasturtas.lt</a><br />

        <a href="http://www.akmenesnekilnojamasturtas.lt">www.akmenesnekilnojamasturtas.lt</a><br />
    </div>
</center>