<center>
    <div style="text-align: left; margin-left: 170px;margin-top: 50px">
        <h4>Обращайтесь к нам :</h4>

        Литва,<br />

        Город Науйойи Акмяне<br />

        Ул. Республикос д. 1А<br />

        LT-85132<br />

        Тел.: +370 675 44 884<br />

        +370 425 32 869<br />

        Эл. почта: <a href="mailto:info@akmenesnekilnojamasturtas.lt" style="color: dodgerblue">info@akmenesnekilnojamasturtas.lt</a><br />

        <a href="http://www.akmenesnekilnojamasturtas.lt">www.akmenesnekilnojamasturtas.lt</a><br />
    </div>
</center>
