<center>
    <div style="text-align: left; margin-left: 170px;margin-top: 50px">
        <h4>Mes laukiame jūsų:</h4>

        Respublikos g. 1A,<br />

        Naujoji Akmenė<br />

        LT-85132<br />

        Tel.: +370 675 44 884<br />

        +370 425 32 869<br />

        El. paštas: <a href="mailto:info@akmenesnekilnojamasturtas.lt" style="color: dodgerblue">info@akmenesnekilnojamasturtas.lt</a><br />

        <a href="http://www.akmenesnekilnojamasturtas.lt">www.akmenesnekilnojamasturtas.lt</a><br />
    </div>
</center>