{% extends 'ArcanaBundle::layout.html.twig' %}
{% block body -%}
    <div class="box box-item-size description text-center" >
        {% include 'ArcanaBundle:Text:lookingfor-ru.html.twig' %}
    </div>
{% endblock %}