<center><b style="font-weight: bold; font-size: 20px">Suburbs</b></center>
<br />
<p>
    You decide to buy a property in New Akmene and move here permanently?
         You made ​​the right decision! It is small but very nice town located in one of the most
         picturesque part of Lithuania. Beautiful ecology, lush forests, picturesque fields, a large number of
         rivers and lakes make the city and its surroundings attractive to people of all ages.
</p>
<p>
    Located near the town of Venta Regional Park (lit. Ventos regioninis parkas) occupies
         about 1000 ha. Regional Park is located in the valley of the Venta River - one of the largest rivers of Lithuania.
         The park is a reserve of 1, 8 reserves (botanical, zoological and hydrographic)
         16 protected natural heritage sites, two of which have the status of natural monuments.
</p>
<p>
    Уникальная природа парка, разнообразие флоры и фауны, действующие музеи и архитектурные памятники делает
    парк идеальным местом, в котором Вы узнаете много нового, получите незабываемые впечатления и насладитесь
    красотами природы. Здесь Вы сможете увидеть геологические породы таинственные Юрского периода; не только
    увидеть, но и потрогать фосилии – окаменевшие останки животных, сохранившиеся до наших дней с Эры динозавров.
</p>
<p>
    The unique nature of the park, a variety of flora and fauna existing museums and architectural monuments makes
         Park an ideal place in which you will learn a lot, get an unforgettable experience and enjoy
         the beauties of nature. Here you can see the mysterious geological formations of Jurassic; not only
         see but touch fosilii - fossilized remains of animals surviving to the Age of Dinosaurs.
</p>
<p>
    Besides Venta Regional Park, near Naujoji Akmene acts Kaman State Nature
         Reserve (lit. Kamanų valstybinis gamtinis rezervatas), covers an area of ​​3660 hectares. Uniqueness
         of the protected area is the protection and preservation of the largest and most valuable in northern Lithuania
         mire complex with all its characteristic flora and fauna. On the territory of the reserve is an active
         restoration of natural complexes and objects of inheritance, there are numerous natural science
         research and surveillance programs are implemented environmental education area residents and the entire country.
         The reserve is open to visitors at any time.
</p>
<p>
    Furthermore, in the vicinity there are several well-furnished farmstead where anyone
         can enjoy the beauty of rural life and rejuvenate after a bustling city.
</p>