<center><b style="font-weight: bold; font-size: 20px">Окрестности</b></center>
<br />
<p>
    Вы решили приобрести недвижимость в Науйойи Акмяне и переехать сюда на постоянное жительство?
    Вы приняли правильное решение! Это небольшой, но очень уютный городок расположен в одном из самых
    живописных уголков Литвы. Прекрасная экология, густые леса, живописные поля, большое количество
    рек и озер делают город и его окрестности привлекательным для людей всех возрастов.
</p>
<p>
    Расположенный вблизи города региональный парк Венты (лит. Ventos regioninis parkas) занимает территорию
    почти в 1000 га. Региональный парк расположен в долине реки Вента – одной из самых крупных рек Литвы.
    На территории парка находится 1 резерват, 8 заповедников (ботанических, зоологических и гидрографических),
    16 охраняемых объектов природного наследства, два из которых имеют статус природных памятников.
</p>
<p>
    Уникальная природа парка, разнообразие флоры и фауны, действующие музеи и архитектурные памятники делает
    парк идеальным местом, в котором Вы узнаете много нового, получите незабываемые впечатления и насладитесь
    красотами природы. Здесь Вы сможете увидеть геологические породы таинственные Юрского периода; не только
    увидеть, но и потрогать фосилии – окаменевшие останки животных, сохранившиеся до наших дней с Эры динозавров.
</p>
<p>
    Помимо живописных окрестностей, Вы также можете посетить множество культурно-исторических памятников. Желающие
    смогут найти уединение в костеле Св. Иоанна Крестителя или церкви Св. Сергия Радонежского, прогуляться по
    подвесному мосту, посетить деревенскую усадьбу, две водные мельницы, увидеть знаменитый Черный камень
    (камень любви) и Камень «Пята дьявола», Шюркишские сосны-сестры, а также пообедать в уютной обстановке.
</p>
<p>
    Помимо регионального парка Венты, недалеко от Науйойи Акмяне действует Каманский государственный природный
    резерват (лит. Kamanų valstybinis gamtinis rezervatas), площадь которого составляет 3660 га. Уникальность
    этой охраняемой территории заключается в защите и сохранении самого большого и ценного в Северной Литве
    болотного комплекса со всей характерной для него флорой и фауной. На территории резервата идет активное
    восстановление комплексов и объектов природного наследства, проводятся многочисленные природные научные
    исследования и наблюдения, реализуются программы по экологическому просвещению жителей района и всей страны.
    Резерват открыт для посетителей в любое время.
</p>
<p>
    Кроме того, в окрестностях имеется несколько хорошо обустроенных усадьб сельского туризма, где любой желающий
    сможет насладиться красотами сельской жизни и восстановить силы после шумного города.
</p>