<center><b style="font-weight: bold; font-size: 20px">Apylinkės</b></center>
<br />
<p>
    Jūs nusprendėte pirkti butą Naujojoje Akmenėje ir persikraustyti čia? Jūsų sprendimas yra teisingas.
    Tai nedidelis, bet labai jaukus miestelis įsikūręs viename vaizdingiausių Lietuvos kampelių.
    Puiki ekologija, tankūs miškai ir gražūs laukai bei didelis upių ir ežerų skaičius daro miestą ir
    jo apylinkes patraukliu įvairaus amžiaus žmonėms.
</p>
<p>
    Netoliese esantis Ventos regioninis parkas užima beveik 1000 ha teritoriją. Parkas išsidėstęs Ventos
    upės (vienos didžiausių Lietuvoje) slėnyje. Parko teritorijoje yra 1 rezervatas, 8 draustiniai (botanikos,
    zoologiniai ir hidrografiniai), saugomi 16 gamtos paveldo objektai, iš kurių 2 paskelbti gamtos paminklais.
</p>
<p>
    Unikali parko gamta, augalijos ir gyvūnijos įvairovė, veikiantys muziejai bei architektūros paminklai – puiki
    vieta, kur jūs sužinosite daug naujų ir įdomių dalykų, patirsite daug nepamirštamų įspūdžių bei pasigrožėsite
    gamta. Čia jūs galėsite pamatyti paslaptingojo Juros periodo uolienas; ne tik pamatyti, bet ir paliesti
    fosilijas – suakmenėjusias dinozaurų laikmečio gyvūnų liekanas.
</p>
<p>
    Be vaizdingų apylinkių, jūs tai pat galėsite pamatyti daug kultūrinių ir istorinių paminklų. Norintys galės
    sudalyvauti Šv. Jono Krikštytojo bažnyčioje arba Šv. Sergijaus Radonežiečio cerkvėje aukojamose mišiose,
    pavaikščioti kabančiu tiltu, apsilankyti Pavirvytės dvare, dvejuose vandens malūnuose, pamatyti įžymų Juodąjį
    (meilės) akmenį bei akmenį „Velnio pėda“, Šiurkiškių pušis-seses, o po to papietauti jaukioje aplinkoje.
</p>
<p>
    Be Ventos regioninio parko, netoli Naujosios Akmenės veikia Kamanų valstybinis gamtinis rezervatas, užimantis
    3660 ha plotą. Šios saugomos teritorijos unikalumas – išsaugoti didžiausią ir vertingiausią Šiaurės Lietuvoje
    molingųjų lygumų pelkinį kompleksą su visa jam būdinga reta augalija, grybija ir gyvūnija. Rezervato
    teritorijoje aktyviai atkuriami teritoriniai gamtos paveldo kompleksai ir objektai, atliekami įvairūs
    gamtos moksliniai tyrimai ir stebėjimai, vykdomos vietinių ir visos Lietuvos gyventojų ekologinio švietimo
    programos. Rezervatas veikia be išeiginių.
</p>
<p>
    Taip pat Naujosios Akmenės apylinkėse veikia kelios kaimo turizmo sodybos, kur visi norintys galės pasigrožėti
    kaimo aplinka ir atgauti jėgas po triukšmingo miesto.
</p>