<center><h4>UAB "Akmenės nekilnojamas turtas”предоставляет следующие услуги:</h4></center>
<p>
    Мы покупаем и продаем квартиры, дома, комнаты, земельные участки, фермы и леса.
    Посредничаем при покупке -продаже желаемого жилища или другого помещения и другой недвижимости.
    Посредничаем арендуя или при сдаваче в аренду любой недвижимости.
    Быстро подготавливаем документы на недвижимость необходимых для договора купли-продажи.
    Оцениваем недвижимость.
    Рекламируем продаваемую недвижимость без дополнительной оплаты. Мы консультируем по всем вопросам недвижимости.
    Помогаем получить разрешение на временное или постоянное проживание в Литве. Наша компания позаботится о подготовке
    всех документов, необходимых для получения статуса личности проживающей в Литовской Республике, или помочь вам
    получить долгосрочную визу, с которой вы сможете свободно передвигатса по территории стран ЕС
</p>
