{% extends 'ArcanaBundle::layout.html.twig' %}
{% block body -%}
    <div class="box box-item-size description text-center" >
        {% if  app.request.get('_locale')  == "ru" %}
        {% include 'ArcanaBundle:Text:services-ru.html.twig' %}
        {% else %}
            {% include 'ArcanaBundle:Text:services-lt.html.twig' %}
        {% endif %}
    </div>
{% endblock %}