<center><h4>UAB "Akmenės nekilnojamas turtas" teikia šias paslaugas:</h4></center>
<p>
    Perkame ir parduodame butus, namus, patalpas, sklypus, sodybas ir miškus.
    Tarpininkaujame perkant parduodant pageidaujamą gyvenamąjį būstą ar kitokios paskirties patalpas bei kitą nekilnojamąjį turtą.
    Tarpininkaujame nuomojant ar išnuomojant bet kokį nekilnojamąjį turtą.
    Greitai paruošiame nekilnojamojo turto dokumentus, reikalingus pirkimo-pardavimo sutarčiai sudaryti.
    Nekilnojamojo turto vertinimas.
    Reklamuojame parduodamą nekilnojamąjį turtą be papildomo mokesčio. Konsultuojame visais nekilnojamojo turto klausimais.
    Padedame gauti leidimą laikinai arba nuolat gyventi Lietuvoje. Mūsų įmonė pasirūpins visų dokumentų parengimu,
    kurie būtini norint gauti Lietuvos Respublikoje gyvenančio asmens statusą arba padės jums gauti ilgalaike viza
    su kuria jus galėsite laisvai keliauti po Europos Sąjungos šalis narės.
</p>
