{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="inner-edit-block">
        <h1>{% trans %}Keisti miško sklypą{% endtrans %}</h1>
        <br>
        {{ form(edit_form) }}
        <ul class="record_actions">
            <li>
                <a href="{{ path('forest') }}" class="btn btn-success">
                    {% trans %}Grįžti prie sąrašo{% endtrans %}
                </a>
            </li>
            <br>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
