{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <br />
    <br />
    <center>
        <h1>{% trans %}Sukurti nuotrauką{% endtrans %}</h1>
        {{ form(form) }}
        <ul class="record_actions">
            <li>
                <a href="{{ path('image') }}" class='btn btn-success'>
                    {% trans %}Grįžti prie sąrašo{% endtrans %}
                </a>
            </li>
        </ul>
    </center>
{% endblock %}
