{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <div class="owner-name">{{ entity.title }}</div>
            <br />
            <img src="{{ asset('uploads/images/'~entity.path) }}" width="300" height="250">
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-image-id"  style="color: #ffffff"><b>{% trans %}Id{% endtrans %}</b></div></th>
                <th><div class="table-image-title"  style="color: #ffffff"><b>{% trans %}Pavadinimas{% endtrans %}</b></div></th>
                <th><div class="table-image-owner"  style="color: #ffffff"><b>{% trans %}Nuotraukų kategorija{% endtrans %}</b></div></th>
                <th><div class="table-image-show"  style="color: #ffffff"><b>{% trans %}Rodyti{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Redaguoti{% endtrans %}</i></b></div></th>
                <th><div style="color: red"><b><i>{% trans %}Ištrinti{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.owner.name }}</td>
                <td><a href="{{ path('image') }}" class="btn btn-success">{% trans %}Grįžti prie sąrašo{% endtrans %}</a> </td>
                <td><a href="{{ path('image_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Redaguoti{% endtrans %}</a> </td>
                <td>{{ render(controller('ArcanaBundle:image:del', {'id': entity.id})) }}</td>
            </tr>
            </tbody>
        </table>
        <div class="description-title">{% trans %}Aprašymas{% endtrans %}</div>
        <br>
        <div class="description-show-block">
            {{ entity.description }}
        </div>
    </div>
{% endblock %}
