{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="inner-edit-block">
        <h4>{% trans %}Keisti nuotraukų kategoriją{% endtrans %}</h4>
        <br>
        {{ form(edit_form) }}
        <ul class="record_actions">
            <li>
                <a href="{{ path('owner') }}" class="btn btn-success">
                    {% trans %}Grįžti prie sąrašo{% endtrans %}
                </a>
                <br />
            </li>
            <li>
                <br />
                {{ form(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
