{% extends 'ArcanaBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Nuotraukų kategorija{% endtrans %}</h4>
            <div class="owner-name">{{ entity.name }}</div>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-owner-show"  style="color: #ffffff"><b>{% trans %}Sąrašas{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Redaguoti{% endtrans %}</i></b></div></th>
                <th><div style="color: red"><b><i>{% trans %}Ištrinti{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="{{ path('owner') }}" class="btn btn-success">{% trans %}Grįžti prie sąrašo{% endtrans %}</a> </td>
                <td><a href="{{ path('owner_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Redaguoti{% endtrans %}</a> </td>
                <td>{{ render(controller('ArcanaBundle:owner:del', {'id': entity.id})) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
