{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Sukurti šalis{% endtrans %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('country') }}">
            {% trans %}Grįžti prie sąrašo{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
