{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}Keisti miestas{% endtrans %}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('city') }}">
            {% trans %}Grįžti prie sąrašo{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
