{% extends '::base.html.twig' %}

{% block body -%}
    <h1>city list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('city_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('city_show', { 'id': entity.id }) }}">{% trans %}Rodyti{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('city_edit', { 'id': entity.id }) }}">{% trans %}Redaguoti{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('city_new') }}">
                {% trans %}Sukurti miestas{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
