{% extends '::base.html.twig' %}

{% block body -%}
    <h1>city</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('city') }}">
            {% trans %}Grįžti prie sąrašo{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('city_edit', { 'id': entity.id }) }}">
            {% trans %}Redaguoti{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
