{% extends 'ArcanaBundle::empty.html.twig' %}

{% block title %}ArcanaBundle:Security:login{% endblock %}

{% block body %}
    <h1>Registration</h1>
    <div class="content-block" style="min-height: 300px; height: 337px" >
        <div class="container-body" style="height:200px;width: 650px; color: darkblue">


            {% if error %}
                <div>{{ error.message }} </div>
            {% endif %}
            <div style="margin-left: 100px;margin-top: 70px;">
                <form action="{{ path('login_check') }} " method="post">
                    <label for="username">{% trans %}Vardas{% endtrans %}:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }} " />
                    <br>
                    <label for="password">{% trans %}Slaptažodis{% endtrans %}:</label>
                    <input type="password" id="password" name="_password" />
                    <br>
                    <br>
                    {#
                    Åñëè âû õîòèòå êîíòðîëèðîâàòü URL, íà êîòîðûé ïåðåíàïðàâèòü ïîëüçîâàòåëÿ:
                    <input type="hidden" name="_target_path" value="/account" />
                    #}
                    <input type="submit" name="login" />
                </form>
            </div>




        </div>
    </div>





{% endblock %}
